.container {
    background-color: red;
}

h1, h2, p, body {
    margin: 0; 
}

.msg-welcome {
    color:white;
    text-align: center;
    width: 50%;
    margin: 1px auto;
    background-color: rgb(2, 2, 121);
    font-size: x-large;
    padding: 20px 10px;
    border: 10px groove rgb(2, 2, 121);
}